{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h3>{{ subject.name }} - Attendance ({{ today }})</h3>
    <a href="{% url 'admin_add_student' %}?subject_id={{ subject.id }}" class="btn btn-success w-100">Add Student</a>

    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>P</th>
                    <th>A</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.user.username }}</td>
                    <td><input type="radio" name="status_{{ student.id }}" value="P" {% if attendance_dict.student.id == 'P' %}checked{% endif %}></td>
                    <td><input type="radio" name="status_{{ student.id }}" value="A" {% if attendance_dict.student.id == 'A' %}checked{% endif %}></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Save / Update Attendance</button>
    </form>
</div>
{% endblock %}
